<!DOCTYPE html>
<html lang="en">
<!-- <link href="/static/css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css">-->
<style type="text/css">
    .popover{
        max-width:500px;
    }
    #deploypanel{
    	margin: 0.7%;
    }
   .toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; } 
   .toggle.ios .toggle-handle { border-radius: 20px; } 
   
</style>

<div id="deploypanel" class="panel panel-primary">
	<div class="panel-heading" align="center">
		<div id="mainpanel">Build Deployment</div>
	</div>
	<div class="panel-body">
		<div id="mainbody">
			<form id="builddeployform" method="post" class="form-horizontal" action="#">
				{% csrf_token %}
				<div id="deploypanel" class="panel panel-info">
					<div class="panel-heading" align="center">
						Deployment mode
					</div>
					<div class="panel-body" style="padding: 3%">
						<div class="form-group">
							<div id="checkbox">
			                    <div class="radio">
			                        <label>
			                            <input type="radio" name="deploymode" id="credonly" value="1" checked>Change DB credential(save war in same location) 
			                        </label>
			                    </div>					
							</div>
							<div id="checkbox">
			                    <div class="radio">
			                        <label>
			                            <input type="radio" name="deploymode" id="creddes" value="2">Change DB credentials and copy to destination location
			                        </label>
			                    </div>					
							</div>
							<div id="checkbox">
			                    <div class="radio">
			                        <label>
			                            <input type="radio" name="deploymode" id="credbuild" value="3">Change DB credentials and deploy the build
			                        </label>
			                    </div>
							</div>
						</div>
					</div>
				</div>
				<div id="srcdespanel" class="panel panel-info">
					<div class="panel-heading" align="center">
						Source & Destination configuration
					</div>
					<div name="srcdespanelbody" class="panel-body">
						<div id="srcdiv" align="center">
							<p class="text-primary">Source build with ssh profile and location</p>
							<div class="form-group">
								<div class="col-sm-5">
									<select class="js-example-basic-single" id="srcsshprof" name="srcsshprof" style="width: 90%">
										<option></option>
									</select>
								</div>
								<div class="col-sm-7">
									<input type="text" class="form-control" placeholder="Source location with build" name="srclocation" id="srclocation" />
								</div>
							</div>
						</div>
						<div id="desdiv" align="center">
							<p class="text-primary">Destination ssh profile with location</p>
							<div class="form-group">
								<div class="col-sm-5">
									<select class="js-example-basic-single" id="dessshprof" name="dessshprof" style="width: 90%">
										<option></option>
									</select>
								</div>
								<div class="col-sm-7">
									<input type="text" class="form-control" placeholder="Destination location" name="deslocation" id="deslocation" />
								</div>
							</div>
						</div>
						<div id="newfolder" align="center">
							<div class="form-group" >
								<div class="checkbox">
                                	<label class="text-primary">
                                	    <input id="newfoldercheck" name="newfoldercheck" type="checkbox" value="">Create new folder in destination location
                                	</label>
                                </div>
							</div>
							<div id="newfolderval" class="form-group">
								<div class="col-sm-6 col-sm-offset-3">
									<input id="newfoldername" class="form-control" name="newfoldername" placeholder="New folder name" disabled="" />
								</div>
							</div>
						</div>
						<div id="bkupfolder" align="center">
							<div class="form-group" >
								<div class="checkbox">
                                	<label class="text-primary">
                                	    <input id="bkupfoldercheck" name="bkupfoldercheck" type="checkbox" value="">Back up location and folder for running build
                                	</label>
                                </div>
							</div>
							<div id="bkupfolderval" class="form-group">
								<div class="col-sm-6">
									<input id="bkupfolderloc" class="form-control" name="bkupfolderloc" placeholder="Back up folder location" disabled="" />
								</div>
								<div class="col-sm-6">
									<input id="bkupfoldername" class="form-control" name="bkupfoldername" placeholder="Back up folder name" disabled="" />
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="profspanel" class="panel panel-info">
					<div class="panel-heading" align="center">
						DB profile selection and build setting  
					</div>
					<div name="srcdespanelbody" class="panel-body" align="center">
	                    <div class="form-group" align="center">
	                    	<div class="checkbox">
                            	<label class="text-primary">
                            		<input id="profloccheck" name="profloccheck" type="checkbox" value="">Copy the credentials from another war file to build
                            	</label>	
                            </div>
	                    </div>
						<div id="profmode" class="form-group" style="margin: 3%">
							<div class="col-sm-4">
								<select class="js-example-basic-single" id="cygprof" name="cygprof" style="width: 90%">
									<option></option>
								</select>
							</div>
							<div class="col-sm-4">
								<select class="js-example-basic-single" id="m6prof" name="m6prof" style="width: 90%">
									<option></option>
								</select>
							</div>
							<div class="col-sm-4">
								<select class="js-example-basic-single" id="m6enctprof" name="m6enctprof" style="width: 90%">
									<option></option>
								</select>
							</div>
						</div>
						<div id="filemode" class="form-group" style="margin: 3%">
							<div class="col-sm-5">
								<select class="js-example-basic-single" id="credsshprof" name="credsshprof" style="width: 90%">
									<option></option>
								</select>
							</div>
							<div class="col-sm-7">
								<input type="text" class="form-control" placeholder="Cygnet war file location" name="credlocation" id="credlocation" />
							</div>
						</div>
						<div class="form-group" style="margin: 5%">
							<div class="col-sm-6">
								<label class="text-primary">
									Message Queue IP server (Default: localhost)
								</label>
							</div>
							<div class="col-sm-6">
								<input id="mqip" class="form-control" name="mqip" placeholder="Message Queue IP" value="localhost"/>
							</div>
						</div>
						<div class="form-group" align="center">
							<label class="text-primary">Build type</label>
	                    </div>
	                    <div class="form-group">
	                        <div class="col-sm-6" align="right">
		                        <label class="radio-inline text-primary">
		                            <input type="radio" name="buildtype" id="buildtype" value="discovery" checked>discovery build
		                        </label>
	                        </div>
	                        <div class="col-sm-6" align="left">
		                        <label class="radio-inline text-primary">
		                            <input type="radio" name="buildtype" id="buildtype" value="recon">recon build
		                        </label>
	                        </div>
						</div>
						<div class="form-group">
							<div class="col-sm-4 col-sm-offset-2">
								<button type="submit" class="btn btn-primary" style="margin: 3%"><b>Deploy</b></button>
							</div>
							<div class="col-sm-4">
								<button class="btn btn-danger" style="margin: 3%"><b>CANCEL</b></button>
							</div>
						</div>
					</div>
				</div>
			</form>	
		</div>
	</div>
</div>
<script src="/static/js/bootstrap-toggle.min.js"></script>

<script>
var slideupfunc = function() {
	var r = $.Deferred();
	$("div[name='srcdespanelbody']").slideUp("fast");
	var deploy = $('input[name=deploymode]:checked').val()
	if(deploy == "1"){
		$("#desdiv").hide();
    	$('#dessshprof').prop("disabled", true);
    	$("#deslocation").attr("disabled", true);
		$("#newfolder").hide();
		$("#newfoldercheck").attr('disabled','disabled');
    	$("#newfoldername").attr("disabled", true);
		$("#bkupfolder").hide();
		$("#bkupfoldercheck").attr('disabled','disabled');
    	$("#bkupfolderloc").attr("disabled", true);
    	$("#bkupfoldername").attr("disabled", true);	
	}
	else if(deploy == "2"){
		$("#desdiv").show();
    	$('#dessshprof').prop("disabled", false);
    	$("#deslocation").attr("disabled", false);
		$("#newfolder").show();
		$("#newfoldercheck").removeAttr('disabled');
    	$("#newfoldername").attr("disabled", false);
		$("#bkupfolder").hide();
		$("#bkupfoldercheck").attr('disabled','disabled');
    	$("#bkupfolderloc").attr("disabled", true);
    	$("#bkupfoldername").attr("disabled", true);	
	}
	else if(deploy == "3"){
		$("#desdiv").show();
    	$('#dessshprof').prop("disabled", false);
    	$("#deslocation").attr("disabled", false);
		$("#newfolder").hide();
		$("#newfoldercheck").attr('disabled','disabled');
    	$("#newfoldername").attr("disabled", true);
		$("#bkupfolder").show();
		$("#bkupfoldercheck").removeAttr('disabled');
    	$("#bkupfolderloc").attr("disabled", false);
    	$("#bkupfoldername").attr("disabled", false);
	}
	return r;
};
var slidedownfunc = function() {	 
	$("div[name='srcdespanelbody']").slideDown("slow");
};
	
$(document).ready(function(){
	var sshproflist = {{sshprofarr | safe}};
	var cygproflist = {{cygprofarr | safe}};
	var m6proflist = {{m6profarr | safe}};
	var m6enctproflist = {{m6enctprofarr | safe}};
    var radioValue = $("input[name='deploymode']:checked").val();
	$("#mainbody").hide();
    
	//source ssh profile
    $('#srcsshprof').select2({
		placeholder: "Select ssh profile for source",
		allowClear: true,
		data: sshproflist
	});
	
	//destination ssh profile
    $('#dessshprof').select2({
		placeholder: "Select ssh profile for destination",
		allowClear: true,
		data: sshproflist
	});
	
	//cygnet profile
    $('#cygprof').select2({
		placeholder: "Select cygnet db credential profile",
		allowClear: true,
		data: cygproflist
	});
	
	//M6 profile
    $('#m6prof').select2({
		placeholder: "Select M6 db credential profile",
		allowClear: true,
		data: m6proflist
	});
	
	//M6 encypty profile
    $('#m6enctprof').select2({
		placeholder: "Select M6 encrypt credential profile",
		allowClear: true,
		data: m6enctproflist
	});
	//cygnetwar profile
    $('#credsshprof').select2({
		placeholder: "Select cygnet build ssh profile",
		allowClear: true,
		data: sshproflist
	});
    
    $("#mainpanel").show(function(){
        $("#mainbody").slideDown("slow");
    });
    
    //slide up and down while deploy mode clicked
    var radioValue = $("input[name='deploymode']:checked").val();
    if(radioValue == "1"){
		$("#desdiv").hide();
    	$('#dessshprof').prop("disabled", true);
    	$("#deslocation").attr("disabled", true);
		$("#newfolder").hide();
		$("#newfoldercheck").attr('disabled','disabled');
    	$("#newfoldername").attr("disabled", true);
		$("#bkupfolder").hide();
		$("#bkupfoldercheck").attr('disabled','disabled');
    	$("#bkupfolderloc").attr("disabled", true);
    	$("#bkupfoldername").attr("disabled", true);	
    }
    $("input[name='deploymode']").click(function(){
    	//slide up and down when radio button click
    	slideupfunc().done(slidedownfunc());
    	
    	//alert("selected mode" + radioValue);
    });
    //new folder slide up and down in deployment
    if($('#newfoldercheck').is(":not(:checked)")){
    	$("#newfolderval").hide();
    	$("#newfoldername").attr("disabled", true);
    }
    $('#newfoldercheck').click(function(){
        if($(this).is(":checked")){
        	$("#newfolderval").slideDown();
        	$("#newfoldername").attr("disabled", false);
        }
        else if($(this).is(":not(:checked)")){
        	$("#newfolderval").hide();
        	$("#newfoldername").attr("disabled", true);
        }
    });
    
  //backup folder slide up and down in deployment
    if($('#bkupfoldercheck').is(":not(:checked)")){
    	$("#bkupfolderval").hide();
    	$("#bkupfoldername,#bkupfolderloc").attr("disabled", true);
    }
    $('#bkupfoldercheck').click(function(){
        if($(this).is(":checked")){
        	$("#bkupfolderval").slideDown();
        	$("#bkupfoldername,#bkupfolderloc").attr("disabled", false);
        }
        else if($(this).is(":not(:checked)")){
        	$("#bkupfolderval").hide();
        	$("#bkupfoldername,#bkupfolderloc").attr("disabled", true);
        }
    });
    // cred profile and cygnet war credential
    if($('#profloccheck').is(":not(:checked)")){
    	$("#filemode").hide();
    	$('#credsshprof').prop("disabled", true);
    	$("#credlocation").attr("disabled", true);
    }
    $('#profloccheck').click(function(){
        if($(this).is(":checked")){
        	$('#credsshprof').prop("disabled", false);
        	$("#credlocation").attr("disabled", false);
        	$('#cygprof').prop("disabled", true);
        	$('#m6prof').prop("disabled", true);
        	$('#m6enctprof').prop("disabled", true);
        	$("#filemode").slideDown();
        	$("#profmode").hide();
        }
        else if($(this).is(":not(:checked)")){
        	$('#credsshprof').prop("disabled", true);
        	$("#credlocation").attr("disabled", true);
        	$('#cygprof').prop("disabled", false);
        	$('#m6prof').prop("disabled", false);
        	$('#m6enctprof').prop("disabled", false);
        	$("#profmode").slideDown();
        	$("#filemode").hide();
        	//$("#").attr("disabled", true);
        }
    });
    
});       
</script>
</html>
