<!DOCTYPE html>
<html lang="en">
<!-- <link href="/static/css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css">-->
<style type="text/css">
    .popover{
        max-width:500px;
    }
    
   .toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; } 
   .toggle.ios .toggle-handle { border-radius: 20px; } 
   
</style>

<div class="panel panel-default">
	<div class="panel-heading" align="center">
<!-- 		<div class="col-lg-6" align="center"> -->
			Add M6 File profile
<!-- 		</div> -->
	</div>
	<div class="panel-body">
		<div class="col-lg-6">
			<form id="m6dbprofform" method="post" class="form-horizontal" action="/build/M6AddFileVal">
				{% csrf_token %}
				<div class="form-group">
					<div class="col-lg-11">	
						<input id="m6prfname" name="m6prfname" class="form-control" placeholder="Profile Name"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-11">
						<input id="m6url" class="form-control" name="m6url" placeholder="Url" disabled="" />
					</div>
				</div>
				<div class="form-group">
					<div class="checkbox">
		            	<label>
		            		<input id="m6urlcheck" value="" type="checkbox" onclick="checkurl('m6urlcheck');">Enable URL Field
		                </label>
		            </div>
	            </div>
			    <div class="form-group">       
		            <div class="col-lg-11">
						<input type="text" class="form-control" placeholder="IP" name="m6ip" id="m6ip" required valid-name />
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-11">
						<input class="form-control" placeholder="Port" name="m6port" id="m6port" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-11">
						<input class="form-control" placeholder="SID" name="m6sid" id="m6sid" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-11">
						<input class="form-control" placeholder="M6 DB User Name" name="m6username" id="m6username" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-11">
						<input type="text" class="form-control" placeholder="M6 DB Password" name="m6password" id="m6password" />
					</div>
				</div>
				<div class="form-group" align="center">
					<div class="col-sm-6">
							<button type="submit" class="btn btn-success"><b>ADD</b></button>
					</div>
					<div class="col-sm-6">
							<button class="btn btn-danger"><b>CANCEL</b></button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<script src="/static/js/bootstrap-toggle.min.js"></script>

<script>
function checkurl(checkid) {
    var urlcheck = document.getElementById(checkid).checked;
    var disarr = ["m6ip","m6port","m6sid"];
    var arrlen = disarr.length;
    var urlid = "m6url"

    if (urlcheck == false) {
    	document.getElementById(urlid).disabled='disabled';
    	document.getElementById(urlid).value='';
    	for(i=0; i<arrlen; i++){
    		document.getElementById(disarr[i]).disabled='';
    	}
    }
    else{
    	document.getElementById(urlid).disabled='';
    	for(i=0; i<arrlen; i++){
    		document.getElementById(disarr[i]).disabled='disabled';
    		document.getElementById(disarr[i]).value='';
    	}
    }
}



$(document).ready(function(){	
	//var proflisting = document.querySelector(".proflist").value;
	//var profsplit = proflisting.split(",");
	var proflisting = {{proflist | safe}};
	console.log(proflisting);
/* 	console.log(proflisting);
	var test = JSON.stringify(proflisting);
	console.log(test);
	test = JSON.parse(test);
	console.log(test[0]); */
	/* var tester="[\"'test\"',\"'test 1\"']";
	console.log(tester);
	test = JSON.parse(tester);
	console.log(test[0]); */
	
        
         jQuery.validator.addMethod("IP4Checker", function(value, element) {
        	    return this.optional(element) || /^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$/.test(value);
        	}, "");

    jQuery.validator.addMethod("Profnamevalid", function(value, element) {
   	 /* for (var i=0; i<proflisting.length; i++) {
;
		    if (value === proflisting[i]) {
		        return false
		    }
		}
	 return true */
	 //return !(proflisting.indexOf(value) === -1);
	 //console.log($.inArray(value, proflisting))
	 return ($.inArray(value, proflisting) === -1);
	},"");
	 
	//validation	
	$("#m6dbprofform").validate({
		
		rules: {
			m6prfname: {
				required: true,
				Profnamevalid:true,
				minlength: 4
			},
			m6url: {
				required: true
				//minlength: 2
			},
			m6ip: {
	  				required: true,
	  				IP4Checker:true/* ,
					minlength: 6,
					pattern: /^\S*$/ */
 	 		    
 				//minlength: 5
 			},
 			
  	       /*  validName: function (input) {
    	          if (input.is('[valid-name]')) {
    	            var value = input.val();
    	            
    	            return value === "" ||
    	              value === "raja";
    	          }
    	    
    	          return true;
    	        }, */
 			
    	    m6port: {
				required: true,
				number: true
				//minlength: 5,
				//equalTo: "#password1"
			},
			m6sid: {
				required: true
				//email: true
			},
			m6username: {
				required: true
			},
			m6password: {
				required: true
			}
		},
		messages: {
			m6prfname: {
				required: "Please enter the M6 db profile name",
				Profnamevalid:"Profile already exist",
				minlength: "Minimum 4 character"
			},
			m6url: {
				required: "Please enter M6 db url (eg: 10.5.185.214:1908:IPTSTDRS)"
				//minlength: "Your username must consist of at least 2 characters"
			},
			m6ip: {
  				required: "Please enter the M6 db ip",
 				IP4Checker: "Please enter the ip formate"
 				//minlength: "Your password must be at least 5 characters long"
  			}, 
  			/* cygip:{
		  			validName: "raja is the only valid name",
  			}, */
  			m6port: {
				required: "Please enter the M6 db port",
				number: "Port should be number "
			},
			m6sid: {
				required: "Please enter the M6 db SID"
			},
			m6username: {
				required: "Please enter the M6 db username"
			},
			m6password: {
				required: "Please enter the M6 db password"
			}
		},
		
		errorElement: "em",
		errorPlacement: function ( error, element ) {
			// Add the `help-block` class to the error element
			error.addClass( "help-block" );

			// Add `has-feedback` class to the parent div.form-group
			// in order to add icons to inputs
			element.parents( ".col-lg-11" ).addClass( "has-feedback" );

			if ( element.prop( "type" ) === "checkbox" ) {
				error.insertAfter( element.parent( "label" ) );
			} else {
				error.insertAfter( element );
			}

			// Add the span element, if doesn't exists, and apply the icon classes to it.
			if ( !element.next( "span" )[ 0 ] ) {
				$( "<span class='glyphicon glyphicon-remove form-control-feedback'></span>" ).insertAfter( element );
			}
		},
		success: function ( label, element ) {
			// Add the span element, if doesn't exists, and apply the icon classes to it.
			if ( !$( element ).next( "span" )[ 0 ] ) {
				$( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
			}
		},
		highlight: function ( element, errorClass, validClass ) {
			$( element ).parents( ".col-lg-11" ).addClass( "has-error" ).removeClass( "has-success" );
			$( element ).next( "span" ).addClass( "glyphicon-remove" ).removeClass( "glyphicon-ok" );
		},
		unhighlight: function ( element, errorClass, validClass ) {
			$( element ).parents( ".col-lg-11" ).addClass( "has-success" ).removeClass( "has-error" );
			$( element ).next( "span" ).addClass( "glyphicon-ok" ).removeClass( "glyphicon-remove" );
		}
	});
	
	
});
	
</script>
</html>
