<!DOCTYPE html>
<html lang="en">
<!-- <link href="/static/css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css">-->
<style type="text/css">
    .popover{
        max-width:500px;
    }
    
   .toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; } 
   .toggle.ios .toggle-handle { border-radius: 20px; } 
   
</style>

<div class="panel panel-default">
	<div class="panel-heading" align="center">
<!-- 		<div class="col-lg-6" align="center"> -->
			Add M6 Encrypt File profile
<!-- 		</div> -->
	</div>
	<div class="panel-body">
		<div class="col-lg-6">
			<form id="m6enctdbprofform" method="post" class="form-horizontal" action="">
				<div class="form-group">
					<div class="col-lg-11">	
						<input id="m6enctprfname" name="m6enctprfname" class="form-control" placeholder="Profile Name" title="Example"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-11">
						<input id="m6encturl" class="form-control" name="m6encturl" placeholder="Url" disabled="" />
					</div>
				</div>
				<div class="form-group">
					<div class="checkbox">
		            	<label>
		            		<input id="m6encturlcheck" value="" type="checkbox" onclick="checkurl('m6encturlcheck');">Enable URL Field
		                </label>
		            </div>
	            </div>
			    <div class="form-group">       
		            <div class="col-lg-11">
						<input type="text" class="form-control" placeholder="IP" name="m6enctip" id="m6enctip" required valid-name />
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-11">
						<input class="form-control" placeholder="Port" name="m6enctport" id="m6enctport" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-11">
						<input class="form-control" placeholder="SID" name="m6enctsid" id="m6enctsid" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-11">
						<input class="form-control" placeholder="M6 Encrypt DB User Name" name="m6enctusername" id="m6enctusername" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-11">
						<input type="text" class="form-control" placeholder="M6 Encrypt DB Password" name="m6enctpassword" id="m6enctpassword" />
					</div>
				</div>
				<div class="form-group" align="center">
					<div class="col-sm-6">
							<button type="submit" class="btn btn-success"><b>ADD</b></button>
					</div>
					<div class="col-sm-6">
							<button class="btn btn-danger"><b>CANCEL</b></button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<script src="/static/js/bootstrap-toggle.min.js"></script>

<script>
function checkurl(checkid) {
    var urlcheck = document.getElementById(checkid).checked;
    var disarr = ["m6enctip","m6enctport","m6enctsid"];
    var arrlen = disarr.length;
    var urlid = "m6encturl"

    if (urlcheck == false) {
    	document.getElementById(urlid).disabled='disabled';
    	document.getElementById(urlid).value='';
    	for(i=0; i<arrlen; i++){
    		document.getElementById(disarr[i]).disabled='';
    	}
    }
    else{
    	document.getElementById(urlid).disabled='';
    	for(i=0; i<arrlen; i++){
    		document.getElementById(disarr[i]).disabled='disabled';
    		document.getElementById(disarr[i]).value='';
    	}
    }
}



$(document).ready(function(){	
	
	 /* $.validator.addMethod('IP4Checker', function(value) 
			 {
         var ip = "/^[0-9]$/";
         alert("in");
             return value.match(ip);
         }, 'Invalid IP address');  */
         
         jQuery.validator.addMethod("IP4Checker", function(value, element) {
        	    return this.optional(element) || /^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$/.test(value);
        	}, "");
     
	 
	//validation	
	$("#m6enctdbprofform").validate({
		
		rules: {
			m6enctprfname: {
				required: true,
				minlength: 4
			},
			m6encturl: {
				required: true
				//minlength: 2
			},
  			m6enctip: {
	  				required: true,
	  				IP4Checker:true/* ,
					minlength: 6,
					pattern: /^\S*$/ */
 	 		    
 				//minlength: 5
 			},
 			
  	       /*  validName: function (input) {
    	          if (input.is('[valid-name]')) {
    	            var value = input.val();
    	            
    	            return value === "" ||
    	              value === "raja";
    	          }
    	    
    	          return true;
    	        }, */
 			
			m6enctport: {
				required: true,
				number: true
				//minlength: 5,
				//equalTo: "#password1"
			},
			m6enctsid: {
				required: true
				//email: true
			},
			m6enctusername: {
				required: true
			},
			m6enctpassword: {
				required: true
			}
		},
		messages: {
			m6enctprfname: {
				required: "Please enter the M6 Encrypt db profile name",
				minlength: "Minimum 4 character"
			},
			m6encturl: {
				required: "Please enter M6 Encrypt db url (eg: 10.5.185.214:1908:IPTSTDRS)"
				//minlength: "Your username must consist of at least 2 characters"
			},
  			m6enctip: {
  				required: "Please enter the M6 Encrypt db ip",
 				IP4Checker: "Please enter the ip formate"
 				//minlength: "Your password must be at least 5 characters long"
  			}, 
  			/* m6enctip:{
		  			validName: "raja is the only valid name",
  			}, */
			m6enctport: {
				required: "Please enter the M6 Encrypt db port",
				number: "Port should be number "
			},
			m6enctsid: {
				required: "Please enter the M6 Encrypt db SID"
			},
			m6enctusername: {
				required: "Please enter the M6 Encrypt db username"
			},
			m6enctpassword: {
				required: "Please enter the M6 Encrypt db password"
			}
		},
		
		errorElement: "em",
		errorPlacement: function ( error, element ) {
			// Add the `help-block` class to the error element
			error.addClass( "help-block" );

			// Add `has-feedback` class to the parent div.form-group
			// in order to add icons to inputs
			element.parents( ".col-lg-11" ).addClass( "has-feedback" );

			if ( element.prop( "type" ) === "checkbox" ) {
				error.insertAfter( element.parent( "label" ) );
			} else {
				error.insertAfter( element );
			}

			// Add the span element, if doesn't exists, and apply the icon classes to it.
			if ( !element.next( "span" )[ 0 ] ) {
				$( "<span class='glyphicon glyphicon-remove form-control-feedback'></span>" ).insertAfter( element );
			}
		},
		success: function ( label, element ) {
			// Add the span element, if doesn't exists, and apply the icon classes to it.
			if ( !$( element ).next( "span" )[ 0 ] ) {
				$( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
			}
		},
		highlight: function ( element, errorClass, validClass ) {
			$( element ).parents( ".col-lg-11" ).addClass( "has-error" ).removeClass( "has-success" );
			$( element ).next( "span" ).addClass( "glyphicon-remove" ).removeClass( "glyphicon-ok" );
		},
		unhighlight: function ( element, errorClass, validClass ) {
			$( element ).parents( ".col-lg-11" ).addClass( "has-success" ).removeClass( "has-error" );
			$( element ).next( "span" ).addClass( "glyphicon-ok" ).removeClass( "glyphicon-remove" );
		}
	});
	
	
});
	
</script>
</html>
