<!DOCTYPE html>
<html lang="en">
<!-- <link href="/static/css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css">-->
<style type="text/css">
    .popover{
        max-width:500px;
    }
    #profpanel{
    	margin: 0.7%;
    }
   .toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; } 
   .toggle.ios .toggle-handle { border-radius: 20px; } 
   
</style>

<div id="profpanel" class="panel panel-default">
	<div class="panel-heading" align="center">
<!-- 		<div class="col-lg-6" align="center"> -->
			Add M6 Encrypt File profile
<!-- 		</div> -->
	</div>
	<div class="panel-body">
		<div class="col-lg-6">
			<form id="m6enctdbprofform" method="post" class="form-horizontal" action="/build/M6EnctAddFileVal">
				{% csrf_token %}
				<div class="form-group">
					<div class="col-lg-11">	
						<input id="m6enctprfname" name="m6enctprfname" class="form-control" placeholder="Profile Name" title="Example"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-11">
						<textarea id="m6enctfilecont" name="m6enctfilecont" class="form-control" placeholder="Enter the content for M6Commpropdetails file" rows="10"></textarea>
					</div>
				</div>
				<div class="form-group" align="center">
					<div class="col-sm-6">
							<button type="submit" class="btn btn-success"><b>ADD</b></button>
					</div>
					<div class="col-sm-6">
							<button class="btn btn-danger"><b>CANCEL</b></button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<script src="/static/js/bootstrap-toggle.min.js"></script>

<script>

$(document).ready(function(){	
	
	
	$("#m6enctdbprofform").validate({
		
		rules: {
			m6enctprfname: {
				required: true,
				minlength: 4
			},
			m6enctfilecont: {
				required: true
			}
		},
		messages: {
			m6enctprfname: {
				required: "Please enter the M6 Encrypt db profile name",
				minlength: "Minimum 4 character"
			},
			m6enctfilecont: {
				required: "Please enter the content for M6commpropsdetails file"
			}
		},
		
		errorElement: "em",
		errorPlacement: function ( error, element ) {
			// Add the `help-block` class to the error element
			error.addClass( "help-block" );

			// Add `has-feedback` class to the parent div.form-group
			// in order to add icons to inputs
			element.parents( ".col-lg-11" ).addClass( "has-feedback" );

			if ( element.prop( "type" ) === "checkbox" ) {
				error.insertAfter( element.parent( "label" ) );
			} else {
				error.insertAfter( element );
			}

			// Add the span element, if doesn't exists, and apply the icon classes to it.
			if ( !element.next( "span" )[ 0 ] ) {
				$( "<span class='glyphicon glyphicon-remove form-control-feedback'></span>" ).insertAfter( element );
			}
		},
		success: function ( label, element ) {
			// Add the span element, if doesn't exists, and apply the icon classes to it.
			if ( !$( element ).next( "span" )[ 0 ] ) {
				$( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
			}
		},
		highlight: function ( element, errorClass, validClass ) {
			$( element ).parents( ".col-lg-11" ).addClass( "has-error" ).removeClass( "has-success" );
			$( element ).next( "span" ).addClass( "glyphicon-remove" ).removeClass( "glyphicon-ok" );
		},
		unhighlight: function ( element, errorClass, validClass ) {
			$( element ).parents( ".col-lg-11" ).addClass( "has-success" ).removeClass( "has-error" );
			$( element ).next( "span" ).addClass( "glyphicon-ok" ).removeClass( "glyphicon-remove" );
		}
	});
	
	
});
	
</script>
</html>
