<!DOCTYPE html>
<html lang="en">
<!-- <link href="/static/css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css">-->
<style type="text/css">
    .popover{
        max-width:500px;
    }
    
   .toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; } 
   .toggle.ios .toggle-handle { border-radius: 20px; } 
   
</style>

<div class="panel panel-default">
	<div class="panel-heading" align="center">
<!-- 		<div class="col-lg-6" align="center"> -->
			Add SSH profile
<!-- 		</div> -->
	</div>
	<div class="panel-body">
		<div class="col-lg-6">
			<form id="sshdbprofform" method="post" class="form-horizontal" action="/build/SshAddVal">
				{% csrf_token %}
				<div class="form-group">
					<div class="col-lg-11">	
						<input id="sshprfname" name="sshprfname" class="form-control" placeholder="Profile Name"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-11">
						<input class="form-control" placeholder="SSH User Name" name="sshusername" id="sshusername" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-11">
						<input type="text" class="form-control" placeholder="SSH Password" name="sshpassword" id="sshpassword" />
					</div>
				</div>
			    <div class="form-group">       
		            <div class="col-lg-11">
						<input type="text" class="form-control" placeholder="SSH IP" name="sship" id="sship" required valid-name />
					</div>
				</div>
				<div class="form-group">
					<div class="checkbox">
		            	<label>
		            		<input id="loccheck" value="" type="checkbox" onclick="checkloc('loccheck');">Enable server location
		                </label>
		            </div>
	            </div>
				<div class="form-group">
					<div class="col-lg-11">
						<input class="form-control" placeholder="SSH Location" name="sshlocation" id="sshlocation"  disabled/>
					</div>
				</div>
				<div class="form-group" align="center">
					<div class="col-sm-6">
							<button type="submit" class="btn btn-success"><b>ADD</b></button>
					</div>
					<div class="col-sm-6">
							<button class="btn btn-danger"><b>CANCEL</b></button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<script src="/static/js/bootstrap-toggle.min.js"></script>

<script>
function checkloc(checkid) {
    var loccheck = document.getElementById(checkid).checked;
    //var disarr = ["cygip","cygport","cygsid"];
    //var arrlen = disarr.length;
    var locid = "sshlocation"

    if (loccheck == true) {
    	document.getElementById(locid).disabled='';
    }
    else {
    	document.getElementById(locid).disabled='disabled';
    }
}



$(document).ready(function(){	
	//var proflisting = document.querySelector(".proflist").value;
	//var profsplit = proflisting.split(",");
	var proflisting = {{proflist | safe}};
	console.log(proflisting);
/* 	console.log(proflisting);
	var test = JSON.stringify(proflisting);
	console.log(test);
	test = JSON.parse(test);
	console.log(test[0]); */
	/* var tester="[\"'test\"',\"'test 1\"']";
	console.log(tester);
	test = JSON.parse(tester);
	console.log(test[0]); */
	jQuery.validator.addMethod("IP4Checker", function(value, element) {
	    return this.optional(element) || /^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$/.test(value);
	}, "");
         
    jQuery.validator.addMethod("Profnamevalid", function(value, element) {
		return ($.inArray(value, proflisting) === -1);
	}, "");
	 
	//validation	
	$("#sshdbprofform").validate({
		rules: {
			sshprfname: {
				required: true,
				Profnamevalid:true,
				minlength: 4
			},
 			
			sshusername: {
				required: true
			},
			sshpassword: {
				required: true
			},
			sship: {
  				required: true,
  				IP4Checker:true
			},
			sshlocation: {
				required: true
			}
		},
		messages: {
			sshprfname: {
				required: "Please enter the ssh profile name",
				Profnamevalid:"Profile already exist",
				minlength: "Minimum 4 character"
			},
			sshusername: {
				required: "Please enter the ssh db username"
			},
			sshpassword: {
				required: "Please enter the ssh db password"
			},
			sship: {
  				required: "Please enter the ssh db ip",
 				IP4Checker: "Please enter the ip formate"
 				//minlength: "Your password must be at least 5 characters long"
  			},
			sshlocation: {
				required: "Please enter the ssh db location"
			}
		},
		
		errorElement: "em",
		errorPlacement: function ( error, element ) {
			// Add the `help-block` class to the error element
			error.addClass( "help-block" );

			// Add `has-feedback` class to the parent div.form-group
			// in order to add icons to inputs
			element.parents( ".col-lg-11" ).addClass( "has-feedback" );

			if ( element.prop( "type" ) === "checkbox" ) {
				error.insertAfter( element.parent( "label" ) );
			} else {
				error.insertAfter( element );
			}

			// Add the span element, if doesn't exists, and apply the icon classes to it.
			if ( !element.next( "span" )[ 0 ] ) {
				$( "<span class='glyphicon glyphicon-remove form-control-feedback'></span>" ).insertAfter( element );
			}
		},
		success: function ( label, element ) {
			// Add the span element, if doesn't exists, and apply the icon classes to it.
			if ( !$( element ).next( "span" )[ 0 ] ) {
				$( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
			}
		},
		highlight: function ( element, errorClass, validClass ) {
			$( element ).parents( ".col-lg-11" ).addClass( "has-error" ).removeClass( "has-success" );
			$( element ).next( "span" ).addClass( "glyphicon-remove" ).removeClass( "glyphicon-ok" );
		},
		unhighlight: function ( element, errorClass, validClass ) {
			$( element ).parents( ".col-lg-11" ).addClass( "has-success" ).removeClass( "has-error" );
			$( element ).next( "span" ).addClass( "glyphicon-ok" ).removeClass( "glyphicon-remove" );
		}
	});
	
	
});
	
</script>
</html>
